{% extends 'cars/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body p-4">


                    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                         <h2 class="card-title mb-4">Профиль пользователя</h2>

                    <div class="text-center mb-4">
                        {% if user.image %}
                            <img src="{{ user.image.url }}" alt="Аватар" class="rounded-circle" width="150" height="150">
                        {% else %}
                            <div class="rounded-circle bg-secondary d-inline-flex align-items-center justify-content-center" style="width: 150px; height: 150px;">
                                <span class="text-white">Нет аватарки</span>
                            </div>
                        {% endif %}

                    </div>

                        {% csrf_token %}
                            <div class="form-group">
                                {{ form.image }}

                            </div>

                        <div class="mb-3">
                            <label class="form-label" for="{{ form.username.id_for_label }}"><strong>Логин:</strong></label>
                            {{form.username}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="{{ form.email.id_for_label }}"><strong>Email:</strong></label>
                            {{form.email}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="{{ form.first_name.id_for_label }}"><strong>Имя:</strong></label>
                            {{form.first_name}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="{{ form.last_name.id_for_label }}"><strong>Фамилия:</strong></label>
                            {{form.last_name}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="{{ form.phone_number.id_for_label }}"><strong>Номер телефона:</strong></label>
                            {{form.phone_number}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="{{ form.birth_day.id_for_label }}"><strong>Дата рождения:</strong></label>
                            {{form.birth_day}}
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}