{% extends 'cars/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4">Регистрация</h2>

                    <form method="post" action="{% url 'users:register' %}">
                        {% csrf_token %}


                        <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Логин*</label>
                            {{ form.username }}
                        </div>


                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email*</label>
                            {{ form.email }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.phone_number.id_for_label }}" class="form-label">Телефон</label>
                            {{ form.phone_number }}
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя*</label>
                                {{ form.first_name }}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия*</label>
                                {{ form.last_name }}
                            </div>
                        </div>


                        <div class="mb-3">
                            <label for="{{ form.birth_day.id_for_label }}" class="form-label">Дата рождения*</label>
                            {{ form.birth_day }}

                        </div>


                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">Пароль*</label>
                            {{ form.password1 }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">Подтверждение пароля*</label>
                            {{ form.password2 }}
                        </div>
                        
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                    </form>
                    
                    <div class="text-center mt-3">
                        <p class="mb-0">Уже есть аккаунт? <a href="{% url 'users:login' %}">Войдите</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}